{:nrepl {:port 8777}

 :source-paths ["src" "test"]

 :dependencies
 [[com.pitch/uix.core "0.6.2"]
  [com.pitch/uix.dom "0.6.2"]
  [day8.re-frame/tracing "0.6.2"]
  [applied-science/js-interop "0.2.7"]

  [binaryage/devtools "1.0.3"]]

 :dev-http
 {8280 "resources/public"
  8290 "target/browser-test"}

 :builds
 {:app
  {:target :browser
   :js-options {:entry-keys ["module" "browser" "main"]}
   :compiler-options {:infer-externs :auto
                      :output-feature-set :es6}
   :output-dir "resources/public/js/compiled"
   :asset-path "/js/compiled"
   :devtools {:preloads [dungeon.preload]}
   :modules {:app {:init-fn dungeon.core/init}}}}}
